.createblog-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}
.createblog-container input{
  width: 400px;
  margin: 10px;
  padding: 10px;
}
.createblog-container textarea{
  width: 400px;
  padding: 10px;
  margin: 10px;
}
.createblog-container .btn{
  margin: 10px 0 0 200px;
  padding-left: 80px;
}
.createblog-container .btn2{
  margin-left: 10px;
}